name: C++

on: [push]
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install scons and gtest
      run: |
        sudo apt-get install -y scons
        sudo apt-get install -y cmake scons
        wget https://github.com/google/googletest/archive/release-1.14.0.zip
        unzip -q release-1.14.0.zip
        cd googletest-release-1.14.0
        cmake .
        make
        sudo make install

    - name: Build examples
      run: |
        cd examples
        scons

    - name: Test
      run: |
        cd test
        scons check
